
.card {
   position: relative;
   background-color: var(--background-color);
   width: calc(100% - 50px);
   max-width: 1000px;
   height: 200px;
   overflow-x: hidden;
   border: 1px solid var(--panel-color);
   border-radius: 15px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, .125);
   cursor: pointer;
   transition: all .125s;
   display: flex;
   text-align: left;
   padding: 10px;
   margin: auto;
}
.card h2 {
   margin-bottom: 0;
   margin-top: 15px;
}
.card:hover .image {
   background-color: red;
}

.image {
   min-width: 350px;
   height: 200px;
   border-radius: 5px;
}

.right-side {
   padding: 0 20px;
}

.buttons-container {
   position: absolute;
   width: fit-content;
   height: fit-content;
   display: flex;
   gap: 15px;
   bottom: 20px;
}
.buttons-container button {
   padding: 10px 25px;
   display: flex;
   gap: 10px;
   align-items: center;
   border-radius: 10px;
   font-family: 'Montserrat';
   font-weight: 500;
   font-size: 0.8rem;
   cursor: pointer;
   transition: all .25s;
}
.buttons-container button:hover {
   transform: scale(1.05);
}
.buttons-container button.github {
   background-color: var(--background-color);
   color: var(--main-text);
   border: none;
   filter: invert(1);
}
.buttons-container button.open {
   background: linear-gradient(to left, var(--accent-color-1), var(--accent-color-2));
   color: white;
   border: none;
}

@media (max-width: 880px) {
   .card {
      display: block;
      height: 470px;
   }

   .image {
      position: static;
      width: 100%;
      min-width: 50px;
      box-sizing: border-box;
   }

   .right-side {
      padding: 0px 10px;
   }

   .right-side h2 {
      margin-top: 20px;
   }

   .buttons-container {
      box-sizing: border-box;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
   }
}
@media (max-width: 785px) {
   .card {
      width: 400px;
      height: 420px;
   }
}