

.header {
   position: absolute;
   margin-top: 10px;
   background-color: var(--blur-background-color);
   width: calc(100% - 20px);
   max-width: 1000px;
   border-radius: 1000px;
   /*border: 1px solid var(--panel-color);*/
   backdrop-filter: blur(15px);
   position: fixed;
   margin-left: 50%;
   transform: translateX(-50%);
   padding: 3px 20px;
   /*box-shadow: 0px -2px 15px rgba(0, 0, 0, .125);*/
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
   z-index: 999;
   animation: open 0.5s ease-in;
}

.dark-layer {
   position: absolute;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, .75);
   display: none;
   box-sizing: border-box;
   z-index: 999;
   transition: color .125s;
   backdrop-filter: blur(5px);
}

.navigation {
   position: absolute;
   z-index: 9999;
   left: -100%;
   top: 0;
   height: 100vh;
   width: 100vw;
   max-width: 200px;
   border-radius: 0px 15px 15px 0px;
   padding: 15px;
   box-sizing: border-box;
   background-color: var(--background-color);
   transition: left .25s;
}

.nav-head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: fit-content;
}

.nav-head button {
   background-color: transparent;
   border: none;
   color: var(--main-text);
   cursor: pointer;
}

.navigation a {
   display: block;
   margin: 15px 0px;
   text-decoration: none;
   color: var(--main-text);
   transition: all .125s;
}

.navigation a:hover {
   display: block;
   text-decoration: none;
   color: var(--accent-color-1);
}

.navigation button {
   justify-content: flex-end;
}

.burger {
   width: 25px;
   height: 15px;
   display: none;
   cursor: pointer;
}

.line:nth-child(1) {
   margin-top: 0;
}
.line:nth-child(2) {
   margin-top: 7.5px;
}
.line:nth-child(3) {
   margin-top: 15px;
}

/*.burger:hover .line:nth-child(1) {
   transform: translateY(7.5px) rotate(45deg);
}
.burger:hover .line:nth-child(2) {
   transform: rotate(45deg);
}
.burger:hover .line:nth-child(3) {
   transform: translateY(-7.5px) rotate(-45deg);
}*/

.line {
   position: absolute;
   background-color: var(--main-text);
   width: 25px;
   height: 2px;
   border-radius: 1000px;
   margin-top: 0;
   transform: translateY(-50%);
   transition: all .125s;
}

.logo {
   text-decoration: none;
   font-weight: 600;
   font-size: large;
   color: var(--main-text);
   cursor: pointer;
   transition: all .25s;
}

.logo:hover {
   opacity: 0.75;
}

.header a {
   color: var(--main-text);
   text-decoration: none;
   padding: 0px 10px;
   cursor: pointer;
   transition: all .125s;
}

.header :not(.logo) a:hover {
   color: var(--accent-color-1);
}

.header button {
   cursor: pointer;
   background-color: transparent;
   padding: 10px;
   color: var(--main-text);
   border-radius: 100px;
   border: 0px solid var(--panel-color);
}

.icon {
   color: var(--main-text);
}



@media (max-width: 728px) {
   .header nav {
      display: none;
   }
   
   .burger {
      display: block;
   }
}